body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-image: url('../imagens/madeira.png');
    background-repeat: repeat-y;
    background-size: auto;
    margin-top: 130px;
    
}

header {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: bisque;
    text-align: center;
    
}

.xd{
    display: flex;
    align-items: center;
    justify-content: space-around
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(59, 36, 5);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav li a {
    color: #e7191f;
    text-decoration: none;
}

a {
    color: white;
}
a:hover { 
    color: #e7191f;
}

.banner {
    text-align: center;
}
h1 {
    font-size: 70px;
}

.wewe{
    margin-top: 20px;
    height: 200px;
    width: 1200px;
    color: #e7191f;
    margin-left: 350px;
    text-align: center;

}

.xdd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.ff {
    background-color: bisque;
	color: #e7191f;
	padding: 20px;
	text-align: center;
	margin-top: 450px;
    border-top: 1px solid rgb(59, 36, 5);
}

.kk li {
    display: inline;
}

.kk ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ss {
    color: #e7191f;
}
h3 {
    width: 200px;
    height: 100px;
}
.mmm {
    border: 5px solid #e7191f;
    padding: 40px;
    background-color: bisque;
}

button {
    margin-top: 10px;
}
.imggg {
    color: #e7191f;
    font-size: 10px;
}

.imggg:hover {
    font-size: 10.5px;
    transition: all 1s;
}

.sdsd {
    width: 200px;
    height: 200px;
}
.sdsd:hover {
    width: 210px;
    height: 210px;
    transition: all 0.5s;
}
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: bisque;
    border-radius: 5px;
}

.lgg{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-image: url('../imagens/fundologin.png');
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 300px;
}
 
.senha {
   
    height: 500px;
    width: 500px;
    margin: 0 auto;
    background-color: bisque;
    border-radius: 10px;
    border: 2px solid black;
   
   
   
}
input {
    width: 400px;
    height: 30px;
}
.ggt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fff {
    background-color: bisque;
	color: #e7191f;
	padding: 20px;
	text-align: center;
	margin-top: 200px;
    border-top: 1px solid rgb(59, 36, 5);
}

.ppppi {
    padding-top:300px ;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: bisque;
    text-align: center;
}

.spp{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-image: url('../imagens/Vaultboysuporte.png');
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 300px;
}

.trt {
    width: 300px;
    height: 100px;
}

#suporte {
    height: 100px;
}

.bttn {
    background-color: bisque;
}

.xddd {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
}
.sobri {
    justify-content: start;
}

.ffff {
    background-color: bisque;
	color: #e7191f;
	padding: 20px;
	text-align: center;
	margin-top: 900px;
    border-top: 1px solid rgb(59, 36, 5);
}
.tutu {
    display: flex;
    justify-content: space-evenly;
}
.papa {
    background-color: bisque;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
}
.hjhj {
    width: 600px;
    height: 600px;
    margin-top: 25px;
}

.mkj {
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;

}
.lslsl {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: bisque;
    border-radius: 5px;
    padding: 5px;
}
.bnv{
        width: 600px;
        height: 600px;

}
.lsls {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: bisque;
    border-radius: 5px;
    padding: 5px;
    flex-direction: column;
}
.popo {
    background-color: #4CAF50;
    color: white;
    width: 300px;
    height: 50px;
     padding: 10px 20px;
     border: none;
     border-radius: 4px;
    cursor: pointer;   
}

.popo:hover {
    background-color: lightgreen;
    color: white;
    width: 310px;
    height: 60px;
     padding: 10px 20px;
     border: none;
     border-radius: 4px;
    cursor: pointer;   
}

.kkj {

    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.kkjj {
    font-size: 20px;
}
.pp {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: bisque;
    border-radius: 5px;
    padding: 5px;
    flex-direction: column;
    font-size: 20px;
}
.tt {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.mmmm {
    text-align: center;
    width: 900px;
    height:1150px;
    border: 5px solid #e7191f;
    padding: 40px;
    background-color: bisque;
}
.produtos {
    display: flex;
    justify-content: center;
}

.ffx {
    background-color: bisque;
	color: #e7191f;
	padding: 20px;
	text-align: center;
	margin-top: 150px;
    border-top: 1px solid rgb(59, 36, 5);
}