body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: white;
    margin-top: 130px;
    
}

header {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: bisque;
    text-align: center;
    
}

.xd{
    display: flex;
    align-items: center;
    justify-content: space-around
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(59, 36, 5);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav li a {
    color: #e7191f;
    text-decoration: none;
}

a {
    color: white;
}
a:hover { 
    color: #e7191f;
}

.banner {
    text-align: center;
}
h1 {
    font-size: 70px;
}

.wewe{
    margin-top: 20px;
    height: 200px;
    width: 1200px;
    color: #e7191f;
    margin-left: 350px;
    text-align: center;

}

.xdd {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ff {
    background-color: bisque;
	color: #e7191f;
	padding: 20px;
	text-align: center;
	margin-top: 450px;
    border-top: 1px solid rgb(59, 36, 5);
}

.kk li {
    display: inline;
}

.kk ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ss {
    color: #e7191f;
}
h3 {
    width: 200px;
    height: 100px;
}
.mmm {
    border: 5px solid #e7191f;
    padding: 40px;
}

button {
    margin-top: 10px;
}
.imggg {
    color: #e7191f;
    font-size: 10px;
}

.imggg:hover {
    font-size: 10.5px;
    transition: all 1s;
}

.sdsd {
    width: 200px;
    height: 200px;
}
.sdsd:hover {
    width: 210px;
    height: 210px;
    transition: all 0.5s;
}
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: bisque;
    border-radius: 5px;
}
<<<<<<< HEAD

.lgg{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-image: url(../imagens/fundologin.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 300px;
}
 
.senha {
   
    height: 500px;
    width: 500px;
    margin: 0 auto;
    background-color: bisque;
    border-radius: 10px;
    border: 2px solid black;
   
   
   
}
input {
    width: 400px;
    height: 30px;
}
.ggt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fff {
    background-color: bisque;
	color: #e7191f;
	padding: 20px;
	text-align: center;
	margin-top: 200px;
    border-top: 1px solid rgb(59, 36, 5);
}

.ppppi {
    padding-top:300px ;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: bisque;
    text-align: center;
}
=======
.luiss {
    width: px;
    height: 500px;
}
.papa {
    text-align: center;
}
.popo {
    background-color: #4CAF50; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: none; /* Sem borda */
    border-radius: 4px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar o mouse */
    float: right;
>>>>>>> 33fc6999634233a0194ab8711257765060e96c98
}